
<form class="create-form" action="/" method="POST">

  <div class="form-group">
    <label for="burgerTxt"></label>
    <textarea id="burgerTxt" name="burger" rows="1" cols="20"></textarea>
  </div>

  <button type="submit">Add Burger</button>
</form>