body {
   background: burlywood;
}

.box {
    background: lightyellow;
    border: 1px;
    height: 50px;
    padding-top: 10px;
    text-align: center;    
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .header {
     background: white;
 }

 .h3align {
     padding-left: 135px;
 }

 .alignTxt {
        margin: 0 auto;
        text-align: center;
        width: 100%; 
 }