.box {
    border: 1px;
    background: lightgray;
    width: 25%;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }